.tabs {
	display: flex;
	flex-direction: row;
	flex: 1;
	height: 100px;
	overflow: hidden;
	background-color: #fff;
}

.tab-view {
	flex: 8;
	overflow-y: scroll;
	padding-top: 10px;
}

.tab-view::-webkit-scrollbar {
	width: 0.7em;
}

.tab-view::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.tab-view::-webkit-scrollbar-thumb {
	background-color: #d3d8df;
	border-radius: 20px;
}

.tabs button {
	background-color: #f8f8f8;
	flex: 1;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 16px;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	transition: 0.5s;
}

.tabs button:hover {
	background-color: #ddd;
}

.tabs button.active {
	background-color: #fff;
	border-color: transparent;
}

.tab-content {
	display: none;
	padding: 6px 12px;
	border-top: none;
	padding: 5px 20px;
}

.selected {
	display: block;
}
