.contact {
	display: flex;
	flex-direction: row;
	min-height: 50px;
	cursor: pointer;
	padding: 5px 20px;
}

.contact:hover {
	background-color: #f0f3f7;
}

.contact-avatar-container {
	position: relative;
	flex: 1;
}

.online-badge {
	position: absolute;
	bottom: -1px;
	right: -1px;
	background-color: #27d333;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	transform: translate(30%, 30%);
}

.contact-avatar {
	height: 100%;
	width: 100%;
}

.contact-info {
	flex: 4;
	margin-left: 10px;
}

.contact-name {
	font-size: 18px;
	font-weight: bold;
}

.contact-description {
	font-size: 13px;
	color: #989898;
}
